<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="../public/assets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../public/assets/cwicon.png">
    <title>Result</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div class="container">
            <h1 class="mb-4 mt-4">Your Required Post is Successfully created</h1>
        <a href="/insertdata" class="btn btn-info mt-2">Click Here To Insert Data</a>
        <a href="/checkdata" class="btn btn-info mt-2">Click Here to Check Data</a>
        <a href="/createTelegramPost" class="btn btn-info mt-2">Click Here Telegram Post Generation</a>
        <a href="/sqlquery" class="btn btn-info mt-2">Click Here for Custom Query</a>
        <a href="/" class="btn btn-success mt-2">Click Here To go to Home</a>
        <a href="/logout" class="btn btn-success mt-2">Click Here To Logout</a>

            
            <div class="mt-4 mb-5">
                    <% try{ %>

                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title mt-2">Telegram Post</h4>
                                <div class="card-subtitle" id="sample">
                                    <h5 class="mb-4 mt-4" >
                                    <%= result[0] %> <%= firstpart[0].startingpara %>
                                    </br>
                                    </br>
                                    <%= result[1] %></br>
                                    </br>
                                    ✅ <%= result[2] %></br>
                                    </br>
                                    <%= secondpart[0].middlepara %>
                                    </br></br>
                                    💰 CTC: <%= result[3] %></br>
                                    </br>
                                    </br>
                                    All links are below</br>
                                    <%= result[1] %></br>
                                    </br>
                                    <%= lastpart[0].bottompara %>
                                    </h5>

                                </div>
                            </div>
                        </div>
                            <% }catch(e){ %>
                                <div>
                                    <% let result='No result Found' %>
                                        <h2>
                                            <%= result %>
                                        </h2>
                                </div>

                                <% } %>



            </div>
    </div>
</body>

</html>