<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="../public/assets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../public/assets/cwicon.png">
    <title>Result</title>
</head>

<body>
    <div class="container">
            <h1 class="mb-4 mt-4">Your Required Post is Successfully created</h1>
            <a href="/insertdata" class="btn btn-info mt-2">Click Here To Insert Data</a>
            <a href="/checkdata" class="btn btn-info mt-2">Click Here to Check Data</a>
            <a href="/createTelegramPost" class="btn btn-info mt-2">Click Here to create Telegram Post</a>
            <a href="/" class="btn btn-success mt-2">Click Here To go to Home</a>

            
            <div class="mt-4 mb-5">
                    <% try{ %>

                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title mt-2">Telegram Post</h4>
                                <div class="card-subtitle" id="sample">
                                    <h5 class="mb-4 mt-4" >
                                    🔥Alert New🔥 <%= result[0] %> Off-Campus Hiring🔥</br>
                                    Link here👇🏻</br>
                                    </br>
                                    <%= result[1] %></br>
                                    </br>
                                    ✅ <%= result[2] %></br>
                                    </br>
                                    👉🏻 Qualifications</br>
                                    👉🏻 Eligible batch <%= result[4] %></br>
                                    👉🏻 Salary / Apply link</br>
                                    </br>
                                    💰 CTC: <%= result[3] %></br>
                                    </br>
                                    </br>
                                    All links are below</br>
                                    <%= result[1] %></br>
                                    </br>
                                    Telegram: @codewindow</br>
                                    For more Job Info.</br>
                                    Don't miss this opportunity❗</br>
                                    Always Stay Updated at: https://codewindow.in/category/job-info/</br>
                                    </br>
                                    For more such updates and materials follow Telegram: @codewindow</br>
                                    </br>
                                    We will keep notifying you regarding placements.</br>
                                    </br>
                                    For Study Material: Follow @codewindow</br>
                                    For 2023 Off-Campus Job-info: @codewindow</br>
                                    For 2022 Off-Campus Job-info: @codewindow</br>
                                    For 2021 Off-Campus Job-info: @codewindow</br>
                                    For 2020 Off-Campus Job-info: @codewindow</br>
                                    Join ASAP and ask your friends to join too.</br>
                                    </h5>

                                </div>
                            </div>
                        </div>
                            <% }catch(e){ %>
                                <div>
                                    <% let result='No result Found' %>
                                        <h2>
                                            <%= result %>
                                        </h2>
                                </div>

                                <% } %>



            </div>
    </div>
</body>

</html>